@charset "utf-8";
/* CSS Document */

a {
	font-weight: normal;
	text-decoration: none;
	color: #939;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


a:hover {
	font-weight: normal;
	text-decoration: none;
	color: #D075D0;
}

a:hover img {
	opacity:0.6;
filter:alpha(opacity=60);
-ms-filter: "alpha( opacity=60 )";
}
.header_img_margin {
    margin-right: 95px;
}


 /*=== スライドショー画像の表示エリア ================================= */
.slide {
  position   : relative;
  overflow   : hidden;
                    /* 画像のサイズに合わせて変更ください */
  width      : 1200px;
  height     : 580px;
  margin     : auto;      /* サンプルは中央寄せの背景：白 */
  background : #fff;
}
 
 /*=== 画像の設定 ======================================= */
.slide img {
  display    : block;
  position   : absolute;
                      /* 画像のサイズを表示エリアに合せる */
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  animation  : slideAnime 20s ease infinite;
}
 
 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 4s }
.slide img:nth-of-type(3) { animation-delay: 8s }
.slide img:nth-of-type(4) { animation-delay: 12s }
.slide img:nth-of-type(5) { animation-delay: 16s }
.slide img:nth-of-type(6) { animation-delay: 20s }
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { opacity: 0 }
   10% { opacity: 1 }
  20% { opacity: 1 }
  30% { opacity: 0 }
 100% { opacity: 0 }
}



.mT5 {
	margin-top: 5px;
}
.mT10 {
	margin-top: 10px;
}
.mT15 {
	margin-top: 15px;
}
.mT20 {
	margin-top: 20px;
}
.mT25 {
	margin-top: 25px;
}
.mT30 {
	margin-top: 30px;
}

.mb30 {
	margin-bottom: 30px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb20 {
	margin-bottom: 25px;
}
.mb15 {
	margin-bottom: 15px;
}
.mB10 {
	margin-bottom: 10px;
}

.mB5 {
	margin-bottom: 5px;
}

.mR5 {
	margin-right: 5px;
}
.mR10 {
	margin-right: 10px;
}
.mR15 {
	margin-right: 15px;
}
.mR20 {
	margin-right: 20px;
}
.mR25 {
	margin-right: 25px;
}
.mR30 {
	margin-right: 30px;
}

.mL5 {
	margin-left: 5px;
}
.mL10 {
	margin-left: 10px;
}
.mL15 {
	margin-left: 15px;
}
.mL20 {
	margin-left: 20px;
}
.mL25 {
	margin-left: 25px;
}
.mL30 {
	margin-left: 30px;
}
.clear_both{
    clear: both;
}
